body{
    font-family: poppins;
}
header{
    border: 1px solid aqua;
    background-color: aqua;
    margin: 0;
    padding: 0;
}
.fl img{
    width: 55px;
    height: 55px;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}
.flex1{
    display: inline-block;   
    display: flex;
}
.fl{
    display: flex;
}
.fl h3{
    color: red;
    font-size: 30px;
    padding-left: 20px;
    margin: 0;
    padding-top: 10px;
    text-align: justify;
}
.DD ul{
    margin: 0;
    padding: 0;
    padding-left: 450px;
    list-style: none;
    padding-top: 5px;
}
.DD ul li{
    float: left;
    width: 100px;
    opacity: a;
    line-height: 40px;
    font-size: 20px;
}
.DD ul li a{
    text-decoration-line: none;
}
.DD ul li a :link{
    background-color: green;
}
.DD ul li a :hover{
    background-color: red;
}
.DD ul li a :active{
    background-color: yellowgreen;
}
.DD ul li a :visited{
    background-color: purple;
}
.grid-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 255px 255px;
    padding: 17.5px;    
}
.grid-container img{
    width: 100%;
    height: 100%;
}
.image-one{
    grid-row: span 2;  
}
.content{
    text-align: center;
    padding: 30px;
    font-size: 15px;
    line-height: 19px;
}
.slider{
    width:500px;
    height:300px;
    background:url(nif1.png);
    animation:slide 20s  ;
    animation-direction: alternate;
    background-repeat:no-repeat;
    background-size:100%;
}
@keyframes slide{
    25%{
    background:url(nif2.png);
    background-repeat:no-repeat;
    background-size:100%;
    }
    50%{
    background:url(tif.png);
    background-repeat:no-repeat;
    background-size:100%;
    }
    75%{
    background:url(sf1.png);
    background-repeat:no-repeat;
    background-size:100%;
    }
    100%{
    background:url(sf2.png);
    background-size:100%;
    background-repeat:no-repeat;
    }
}
.a1{
    position: relative;
}
.address{
    position: absolute;
    background-color: rgb(97, 90, 90);
    width: 300px;
    height: 280px;
    color: white;
    padding: 20px;
    bottom: 30px;
    right: 50px;
    padding-top: 5px;
    line-height: 20px;
}
.address p{
    padding-left: 30px;
}
form{
    background-color: lightgrey;
    width: 100%;
    height: 100%;
    padding: 15px;
    line-height: 20px;
}
.form{
    text-align: center;
    margin-top: 5px;
}
.form label{
    display: inline-block;
}
.form input{
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
}
.form button{
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}